---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import { formatDate } from "../utils";
import { SITE_TITLE } from "../consts";
const { frontmatter } = Astro.props;
const type = frontmatter.tags[0];
const { pubDate, title, description, featured } = frontmatter;
const dateFormated = formatDate(pubDate);

---

<html lang="zh-CN" dir="ltr" class="js no-touch progressive-image no-reduced-motion progressive">
  <head>
    <BaseHead title={`${title} - ${SITE_TITLE}`} description={description} image={frontmatter.cover.square} />
  </head>
  
  <body class:list={["page-article", { "theme-dark": frontmatter.theme === "dark" }]}>
    <!-- <vite-error-overlay class="astro-dark"> -->
    <Header />
    <main id="main" class="main">
      <section>
        <article class="article">
          <div class:list={[{ "featured-header": featured, "article-header": !featured }]}>
            <div class="category component">
              <div class="component-content">
                <div class="category-eyebrow">
                  <span class="category-eyebrow__category category_original">{type}</span>
                  <span class="category-eyebrow__date">{dateFormated}</span>
                </div>
              </div>
            </div>
            <div class="pagetitle component">
              <div class="component-content">
                <h1 class="hero-headline" style="font-family: Helvetica, Arial, sans-serif;">{title}</h1>
              </div>
            </div>
            <div class:list={[{ "featured-subhead": featured, "article-subhead": !featured }, "component"]}>
              <div class="component-content" style="text-align: center; line-height: 2; color: gray;">{description}</div>
            </div>
            <div class:list={["tagssheet component"]}>
              <div class="component-content" style="text-align: center; line-height: 1;">
                {
                  frontmatter.tags.map((tag) => {
                    return (
                      <a href={`/tags/${tag}`} class="tag" style="font-family: Arial; font-weight: bold">
                        {tag}
                      </a>
                    );
                  })
                }
              </div>
            </div>
          </div>
          <slot />
          <div class="component">
            <div class="component-content">

              <div class="article-copyright" style="display: flex; justify-content: center; align-items: center;">
                <div style="display: flex; align-items: center; justify-content: center;">
                  <img class="copyright-img" src="https://raw.githubusercontent.com/kinshingpoon/images/main/blog-imgs/favicon.svg" alt="thanks" width="60" style="display: block; margin: 0;">
                  <span style="font-size: 24px; margin-left: 10px;">Thanks for Reading</span>
                </div>
                  <div class="cccopyright" style="padding:10px;margin:auto;font-size:16px;width:auto;text-align:center;:2px solid">
                      <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.zh_TW" target="_blank" rel="noopener noreferrer">Copyright: Attribution-NonCommercial-NoDerivs 4.0 International</a>
                  </div>
              </div>
            </div>
          </div>
          <section class="more-from-newsroom">
            <div class="section-content">
              <!-- <ul role="list" class="section-tiles">
              </ul> -->
              <div class="view-archive-wrapper">
                <a href="/" class="cta-primary-light" data-analytics-region="router" data-analytics-title="view archive">Back</a>
              </div>
            </div>
          </section>
          
        </article>
      </section>
    </main>
    <Footer />
    <script is:inline>
      var script = document.createElement("script");
      script.src = "/static/js/initPost.js";
      document.head.appendChild(script);
    </script>
    <!-- </vite-error-overlay> -->
  </body>
</html>
